#textWithTooltip{
    -fx-text-fill: blue;
    -fx-underline: true;
}

.textWithTooltip{
    -fx-text-fill: blue;
    -fx-underline: true;
}

.borderpane{
    -fx-border-color: yellow;
    -fx-border-radius: 10px;
}

.separatorCustom{
    -fx-background-color: black;
}

.teble-view:waste{
    -fx-background-color: red;
}